<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/assets/css/Login.css">
    <link rel="stylesheet" href="static/assets/css/ankush.min.css">
	<link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="static/assets/css/style.css">
   <link rel="stylesheet" href="static/assets/css/slicknav.css">
   <style>
    
   </style>
</head>

<body>
   <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/assets/img/logo/MADPHARM-1 (3).png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% comment %} <form id="Signup-form" method="post" action="{% url 'Log'%}" id="form"> {% endcomment %}
        <form id="Signup-form" method="post" action="" id="form" onclick="sendEmail()">
            {%csrf_token%}
            <h1 id="title" class="text-center">LOGIN</h1>
            <br>
            <div class="signup-success">{{signup_Success}}</div>
            <div class="form-group">
                <label id="email-label" for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email"
                    required />
            </div>
            <div class="form-group">
                <label class="col-md-12 control-label" for="passwordinput">
                    Password
                </label>
                <input id="password" class="form-control"
                    name="password" type="password" 
                    placeholder="Enter your password">
                
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="submit-button" type="Submit">
                    Submit
                </button>

                <span>if you don't have account please sign up<span><span> <a href="/Signup" style="text-decoration:none;">Signup</a></span>
            </div>
        </form>
    </div>
    
    <script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./static/assets/js/passwordAuthantication.js"></script>
    <!-- Jquery, Popper, ankush -->
    <script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/assets/js/popper.min.js"></script>
    <script src="./static/assets/js/ankush.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/assets/js/owl.carousel.min.js"></script>
    <script src="./static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./static/assets/js/wow.min.js"></script>
    <script src="./static/assets/js/animated.headline.js"></script>
    <script src="./static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./static/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./static/assets/js/jquery.nice-select.min.js"></script>
    <script src="./static/assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint -->
    <script src="./static/assets/js/jquery.counterup.min.js"></script>
    <script src="./static/assets/js/waypoints.min.js"></script>
    <script src="./static/assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="./static/assets/js/contact.js"></script>
    <script src="./static/assets/js/jquery.form.js"></script>
    <script src="./static/assets/js/jquery.validate.min.js"></script>
    <script src="./static/assets/js/mail-script.js"></script>
    <script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./static/assets/js/plugins.js"></script>
    <script src="./static/assets/js/main.js"></script>



</body>

</html>